@import '../../vars.css';

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 10% 3%;
    padding: 5%;
    border-radius: 50px;
    z-index: 1;

}
h1{
    font-size: 50px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

.intro{
   max-width:600px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
   align-items: center;

}



.skills{
    display: flex;
   justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
  
  
  
}

.tech{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding:45px;
   margin-inline: 10px;
   gap: 10px;
   border-radius: 10px;
  background:linear-gradient(360deg,rgba(120, 123, 125, 0.2)0%,rgba(25,55,109,1)100%);
  box-shadow: 0 0 4px 0;
}




